{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://es.amazonaws.com/"
        },
        {
            "url": "http://es.amazonaws.com/"
        }
    ],
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>Amazon Elasticsearch Configuration Service</fullname> <p>Use the Amazon Elasticsearch configuration API to create, configure, and manage Elasticsearch domains.</p> <p>The endpoint for configuration service requests is region-specific: es.<i>region</i>.amazonaws.com. For example, es.us-east-1.amazonaws.com. For a current list of supported regions and endpoints, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticsearch-service-regions\" target=\"_blank\">Regions and Endpoints</a>.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Elasticsearch Service",
        "version": "2015-01-01",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/es-2015-01-01.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "es"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/es/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/2015-01-01/domain": {
            "get": {
                "description": "Returns the name of all Elasticsearch domains owned by the current user's account. ",
                "operationId": "ListDomainNames",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The result of a <code>ListDomainNames</code> operation. Contains the names of all Elasticsearch domains owned by this account.",
                                    "properties": {
                                        "DomainNames": {
                                            "description": "List of Elasticsearch domain names.",
                                            "items": {
                                                "properties": {
                                                    "DomainName": {
                                                        "description": " Specifies the <code>DomainName</code>.",
                                                        "maxLength": 28,
                                                        "minLength": 3,
                                                        "pattern": "[a-z][a-z0-9\\-]+",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BaseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/2015-01-01/es/compatibleVersions": {
            "get": {
                "description": " Returns a list of upgrade compatible Elastisearch versions. You can optionally pass a <code> <a>DomainName</a> </code> to get all upgrade compatible Elasticsearch versions for that specific domain. ",
                "operationId": "GetCompatibleElasticsearchVersions",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Container for response returned by <code> <a>GetCompatibleElasticsearchVersions</a> </code> operation. ",
                                    "properties": {
                                        "CompatibleElasticsearchVersions": {
                                            "description": " A map of compatible Elasticsearch versions returned as part of the <code> <a>GetCompatibleElasticsearchVersions</a> </code> operation. ",
                                            "items": {
                                                "description": " A map from an <code> <a>ElasticsearchVersion</a> </code> to a list of compatible <code> <a>ElasticsearchVersion</a> </code> s to which the domain can be upgraded. ",
                                                "properties": {
                                                    "SourceVersion": {
                                                        "description": "The current version of Elasticsearch on which a domain is.",
                                                        "type": "string"
                                                    },
                                                    "TargetVersions": {
                                                        "description": "List of supported elastic search versions. ",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BaseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "DisabledOperationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InternalException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": " Container for request parameters to <code> <a>GetCompatibleElasticsearchVersions</a> </code> operation. ",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/2015-01-01/es/domain": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a new Elasticsearch domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.",
                "operationId": "CreateElasticsearchDomain",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The result of a <code>CreateElasticsearchDomain</code> operation. Contains the status of the newly created Elasticsearch domain.",
                                    "properties": {
                                        "DomainStatus": {
                                            "description": "The status of the newly created Elasticsearch domain. ",
                                            "properties": {
                                                "ARN": {
                                                    "description": "The Amazon resource name (ARN) of an Elasticsearch domain. See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html\" target=\"_blank\">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information.",
                                                    "type": "string"
                                                },
                                                "AccessPolicies": {
                                                    "description": " IAM access policy as a JSON-formatted string.",
                                                    "type": "string"
                                                },
                                                "AdvancedOptions": {
                                                    "description": "Specifies the status of the <code>AdvancedOptions</code>",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "CognitoOptions": {
                                                    "description": "The <code>CognitoOptions</code> for the specified domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\" target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.",
                                                    "properties": {
                                                        "Enabled": {
                                                            "description": "Specifies the option to enable Cognito for Kibana authentication.",
                                                            "type": "boolean"
                                                        },
                                                        "IdentityPoolId": {
                                                            "description": "Specifies the Cognito identity pool ID for Kibana authentication.",
                                                            "maxLength": 55,
                                                            "minLength": 1,
                                                            "pattern": "[\\w-]+:[0-9a-f-]+",
                                                            "type": "string"
                                                        },
                                                        "RoleArn": {
                                                            "description": "Specifies the role ARN that provides Elasticsearch permissions for accessing Cognito resources.",
                                                            "maxLength": 2048,
                                                            "minLength": 20,
                                                            "type": "string"
                                                        },
                                                        "UserPoolId": {
                                                            "description": "Specifies the Cognito user pool ID for Kibana authentication.",
                                                            "maxLength": 55,
                                                            "minLength": 1,
                                                            "pattern": "[\\w-]+_[0-9a-zA-Z]+",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "Created": {
                                                    "description": "The domain creation status. <code>True</code> if the creation of an Elasticsearch domain is complete. <code>False</code> if domain creation is still in progress.",
                                                    "type": "boolean"
                                                },
                                                "Deleted": {
                                                    "description": "The domain deletion status. <code>True</code> if a delete request has been received for the domain but resource cleanup is still in progress. <code>False</code> if the domain has not been deleted. Once domain deletion is complete, the status of the domain is no longer returned.",
                                                    "type": "boolean"
                                                },
                                                "DomainId": {
                                                    "description": "The unique identifier for the specified Elasticsearch domain.",
                                                    "maxLength": 64,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "DomainName": {
                                                    "description": "The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).",
                                                    "maxLength": 28,
                                                    "minLength": 3,
                                                    "pattern": "[a-z][a-z0-9\\-]+",
                                                    "type": "string"
                                                },
                                                "EBSOptions": {
                                                    "description": "The <code>EBSOptions</code> for the specified domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs\" target=\"_blank\">Configuring EBS-based Storage</a> for more information.",
                                                    "properties": {
                                                        "EBSEnabled": {
                                                            "description": "Specifies whether EBS-based storage is enabled.",
                                                            "type": "boolean"
                                                        },
                                                        "Iops": {
                                                            "description": "Specifies the IOPD for a Provisioned IOPS EBS volume (SSD).",
                                                            "type": "integer"
                                                        },
                                                        "VolumeSize": {
                                                            "description": " Integer to specify the size of an EBS volume.",
                                                            "type": "integer"
                                                        },
                                                        "VolumeType": {
                                                            "description": " Specifies the volume type for EBS-based storage.",
                                                            "enum": [
                                                                "standard",
                                                                "gp2",
                                                                "io1"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "ElasticsearchClusterConfig": {
                                                    "description": "The type and number of instances in the domain cluster.",
                                                    "properties": {
                                                        "DedicatedMasterCount": {
                                                            "description": "Total number of dedicated master nodes, active and on standby, for the cluster.",
                                                            "type": "integer"
                                                        },
                                                        "DedicatedMasterEnabled": {
                                                            "description": "A boolean value to indicate whether a dedicated master node is enabled. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-dedicatedmasternodes\" target=\"_blank\">About Dedicated Master Nodes</a> for more information.",
                                                            "type": "boolean"
                                                        },
                                                        "DedicatedMasterType": {
                                                            "description": "The instance type for a dedicated master node.",
                                                            "enum": [
                                                                "m3.medium.elasticsearch",
                                                                "m3.large.elasticsearch",
                                                                "m3.xlarge.elasticsearch",
                                                                "m3.2xlarge.elasticsearch",
                                                                "m4.large.elasticsearch",
                                                                "m4.xlarge.elasticsearch",
                                                                "m4.2xlarge.elasticsearch",
                                                                "m4.4xlarge.elasticsearch",
                                                                "m4.10xlarge.elasticsearch",
                                                                "t2.micro.elasticsearch",
                                                                "t2.small.elasticsearch",
                                                                "t2.medium.elasticsearch",
                                                                "r3.large.elasticsearch",
                                                                "r3.xlarge.elasticsearch",
                                                                "r3.2xlarge.elasticsearch",
                                                                "r3.4xlarge.elasticsearch",
                                                                "r3.8xlarge.elasticsearch",
                                                                "i2.xlarge.elasticsearch",
                                                                "i2.2xlarge.elasticsearch",
                                                                "d2.xlarge.elasticsearch",
                                                                "d2.2xlarge.elasticsearch",
                                                                "d2.4xlarge.elasticsearch",
                                                                "d2.8xlarge.elasticsearch",
                                                                "c4.large.elasticsearch",
                                                                "c4.xlarge.elasticsearch",
                                                                "c4.2xlarge.elasticsearch",
                                                                "c4.4xlarge.elasticsearch",
                                                                "c4.8xlarge.elasticsearch",
                                                                "r4.large.elasticsearch",
                                                                "r4.xlarge.elasticsearch",
                                                                "r4.2xlarge.elasticsearch",
                                                                "r4.4xlarge.elasticsearch",
                                                                "r4.8xlarge.elasticsearch",
                                                                "r4.16xlarge.elasticsearch",
                                                                "i3.large.elasticsearch",
                                                                "i3.xlarge.elasticsearch",
                                                                "i3.2xlarge.elasticsearch",
                                                                "i3.4xlarge.elasticsearch",
                                                                "i3.8xlarge.elasticsearch",
                                                                "i3.16xlarge.elasticsearch"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "InstanceCount": {
                                                            "description": "The number of instances in the specified domain cluster.",
                                                            "type": "integer"
                                                        },
                                                        "InstanceType": {
                                                            "description": "The instance type for an Elasticsearch cluster.",
                                                            "enum": [
                                                                "m3.medium.elasticsearch",
                                                                "m3.large.elasticsearch",
                                                                "m3.xlarge.elasticsearch",
                                                                "m3.2xlarge.elasticsearch",
                                                                "m4.large.elasticsearch",
                                                                "m4.xlarge.elasticsearch",
                                                                "m4.2xlarge.elasticsearch",
                                                                "m4.4xlarge.elasticsearch",
                                                                "m4.10xlarge.elasticsearch",
                                                                "t2.micro.elasticsearch",
                                                                "t2.small.elasticsearch",
                                                                "t2.medium.elasticsearch",
                                                                "r3.large.elasticsearch",
                                                                "r3.xlarge.elasticsearch",
                                                                "r3.2xlarge.elasticsearch",
                                                                "r3.4xlarge.elasticsearch",
                                                                "r3.8xlarge.elasticsearch",
                                                                "i2.xlarge.elasticsearch",
                                                                "i2.2xlarge.elasticsearch",
                                                                "d2.xlarge.elasticsearch",
                                                                "d2.2xlarge.elasticsearch",
                                                                "d2.4xlarge.elasticsearch",
                                                                "d2.8xlarge.elasticsearch",
                                                                "c4.large.elasticsearch",
                                                                "c4.xlarge.elasticsearch",
                                                                "c4.2xlarge.elasticsearch",
                                                                "c4.4xlarge.elasticsearch",
                                                                "c4.8xlarge.elasticsearch",
                                                                "r4.large.elasticsearch",
                                                                "r4.xlarge.elasticsearch",
                                                                "r4.2xlarge.elasticsearch",
                                                                "r4.4xlarge.elasticsearch",
                                                                "r4.8xlarge.elasticsearch",
                                                                "r4.16xlarge.elasticsearch",
                                                                "i3.large.elasticsearch",
                                                                "i3.xlarge.elasticsearch",
                                                                "i3.2xlarge.elasticsearch",
                                                                "i3.4xlarge.elasticsearch",
                                                                "i3.8xlarge.elasticsearch",
                                                                "i3.16xlarge.elasticsearch"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "ZoneAwarenessConfig": {
                                                            "description": "Specifies the zone awareness configuration for a domain when zone awareness is enabled.",
                                                            "properties": {
                                                                "AvailabilityZoneCount": {
                                                                    "description": "An integer value to indicate the number of availability zones for a domain when zone awareness is enabled. This should be equal to number of subnets if VPC endpoints is enabled",
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "ZoneAwarenessEnabled": {
                                                            "description": "A boolean value to indicate whether zone awareness is enabled. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-zoneawareness\" target=\"_blank\">About Zone Awareness</a> for more information.",
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "ElasticsearchVersion": {
                                                    "type": "string"
                                                },
                                                "EncryptionAtRestOptions": {
                                                    "description": " Specifies the status of the <code>EncryptionAtRestOptions</code>.",
                                                    "properties": {
                                                        "Enabled": {
                                                            "description": "Specifies the option to enable Encryption At Rest.",
                                                            "type": "boolean"
                                                        },
                                                        "KmsKeyId": {
                                                            "description": " Specifies the KMS Key ID for Encryption At Rest options.",
                                                            "maxLength": 500,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "Endpoint": {
                                                    "description": "The Elasticsearch domain endpoint that you use to submit index and search requests.",
                                                    "type": "string"
                                                },
                                                "Endpoints": {
                                                    "description": "Map containing the Elasticsearch domain endpoints used to submit index and search requests. Example <code>key, value</code>: <code>'vpc','vpc-endpoint-h2dsd34efgyghrtguk5gt6j2foh4.us-east-1.es.amazonaws.com'</code>.",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "description": "The endpoint to which service requests are submitted. For example, <code>search-imdb-movies-oopcnjfn6ugofer3zx5iadxxca.eu-west-1.es.amazonaws.com</code> or <code>doc-imdb-movies-oopcnjfn6ugofer3zx5iadxxca.eu-west-1.es.amazonaws.com</code>.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "LogPublishingOptions": {
                                                    "description": "Log publishing options for the given domain.",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "description": "Type of Log File, it can be one of the following: <ul> <li>INDEX_SLOW_LOGS: Index slow logs contain insert requests that took more time than configured index query log threshold to execute.</li> <li>SEARCH_SLOW_LOGS: Search slow logs contain search queries that took more time than configured search query log threshold to execute.</li> <li>ES_APPLICATION_LOGS: Elasticsearch application logs contain information about errors and warnings raised during the operation of the service and can be useful for troubleshooting.</li> </ul> ",
                                                                "enum": [
                                                                    "INDEX_SLOW_LOGS",
                                                                    "SEARCH_SLOW_LOGS",
                                                                    "ES_APPLICATION_LOGS"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "description": "Log Publishing option that is set for given domain. <br/>Attributes and their details: <ul> <li>CloudWatchLogsLogGroupArn: ARN of the Cloudwatch log group to which log needs to be published.</li> <li>Enabled: Whether the log publishing for given log type is enabled or not</li> </ul> ",
                                                                "properties": {
                                                                    "CloudWatchLogsLogGroupArn": {
                                                                        "description": "ARN of the Cloudwatch log group to which log needs to be published.",
                                                                        "type": "string"
                                                                    },
                                                                    "Enabled": {
                                                                        "description": " Specifies whether given log publishing option is enabled or not.",
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "NodeToNodeEncryptionOptions": {
                                                    "description": "Specifies the status of the <code>NodeToNodeEncryptionOptions</code>.",
                                                    "properties": {
                                                        "Enabled": {
                                                            "description": "Specify true to enable node-to-node encryption.",
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "Processing": {
                                                    "description": "The status of the Elasticsearch domain configuration. <code>True</code> if Amazon Elasticsearch Service is processing configuration changes. <code>False</code> if the configuration is active.",
                                                    "type": "boolean"
                                                },
                                                "ServiceSoftwareOptions": {
                                                    "description": "The current status of the Elasticsearch domain's service software.",
                                                    "properties": {
                                                        "AutomatedUpdateDate": {
                                                            "description": "Timestamp, in Epoch time, until which you can manually request a service software update. After this date, we automatically update your service software.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "Cancellable": {
                                                            "description": "<code>True</code> if you are able to cancel your service software version update. <code>False</code> if you are not able to cancel your service software version. ",
                                                            "type": "boolean"
                                                        },
                                                        "CurrentVersion": {
                                                            "description": "The current service software version that is present on the domain.",
                                                            "type": "string"
                                                        },
                                                        "Description": {
                                                            "description": "The description of the <code>UpdateStatus</code>.",
                                                            "type": "string"
                                                        },
                                                        "NewVersion": {
                                                            "description": "The new service software version if one is available.",
                                                            "type": "string"
                                                        },
                                                        "UpdateAvailable": {
                                                            "description": "<code>True</code> if you are able to update you service software version. <code>False</code> if you are not able to update your service software version. ",
                                                            "type": "boolean"
                                                        },
                                                        "UpdateStatus": {
                                                            "description": "The status of your service software update. This field can take the following values: <code>ELIGIBLE</code>, <code>PENDING_UPDATE</code>, <code>IN_PROGRESS</code>, <code>COMPLETED</code>, and <code>NOT_ELIGIBLE</code>.",
                                                            "enum": [
                                                                "PENDING_UPDATE",
                                                                "IN_PROGRESS",
                                                                "COMPLETED",
                                                                "NOT_ELIGIBLE",
                                                                "ELIGIBLE"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "SnapshotOptions": {
                                                    "description": "Specifies the status of the <code>SnapshotOptions</code>",
                                                    "properties": {
                                                        "AutomatedSnapshotStartHour": {
                                                            "description": "Specifies the time, in UTC format, when the service takes a daily automated snapshot of the specified Elasticsearch domain. Default value is <code>0</code> hours.",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "UpgradeProcessing": {
                                                    "description": "The status of an Elasticsearch domain version upgrade. <code>True</code> if Amazon Elasticsearch Service is undergoing a version upgrade. <code>False</code> if the configuration is active.",
                                                    "type": "boolean"
                                                },
                                                "VPCOptions": {
                                                    "description": "The <code>VPCOptions</code> for the specified domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html\" target=\"_blank\">VPC Endpoints for Amazon Elasticsearch Service Domains</a>.",
                                                    "properties": {
                                                        "AvailabilityZones": {
                                                            "description": "The availability zones for the Elasticsearch domain. Exists only if the domain was created with VPCOptions.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "SecurityGroupIds": {
                                                            "description": "Specifies the security groups for VPC endpoint.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "SubnetIds": {
                                                            "description": "Specifies the subnets for VPC endpoint.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "VPCId": {
                                                            "description": "The VPC Id for the Elasticsearch domain. Exists only if the domain was created with VPCOptions.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "DomainId",
                                                "DomainName",
                                                "ARN",
                                                "ElasticsearchClusterConfig"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BaseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "DisabledOperationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidTypeException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ResourceAlreadyExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AccessPolicies": {
                                        "description": " IAM access policy as a JSON-formatted string.",
                                        "type": "string"
                                    },
                                    "AdvancedOptions": {
                                        "description": " Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information.",
                                        "items": {
                                            "properties": {
                                                "key": {
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "CognitoOptions": {
                                        "description": "Options to specify the Cognito user and identity pools for Kibana authentication. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\" target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.",
                                        "properties": {
                                            "Enabled": {
                                                "description": "Specifies the option to enable Cognito for Kibana authentication.",
                                                "type": "boolean"
                                            },
                                            "IdentityPoolId": {
                                                "description": "Specifies the Cognito identity pool ID for Kibana authentication.",
                                                "maxLength": 55,
                                                "minLength": 1,
                                                "pattern": "[\\w-]+:[0-9a-f-]+",
                                                "type": "string"
                                            },
                                            "RoleArn": {
                                                "description": "Specifies the role ARN that provides Elasticsearch permissions for accessing Cognito resources.",
                                                "maxLength": 2048,
                                                "minLength": 20,
                                                "type": "string"
                                            },
                                            "UserPoolId": {
                                                "description": "Specifies the Cognito user pool ID for Kibana authentication.",
                                                "maxLength": 55,
                                                "minLength": 1,
                                                "pattern": "[\\w-]+_[0-9a-zA-Z]+",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "DomainName": {
                                        "description": "The name of the Elasticsearch domain that you are creating. Domain names are unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).",
                                        "maxLength": 28,
                                        "minLength": 3,
                                        "pattern": "[a-z][a-z0-9\\-]+",
                                        "type": "string"
                                    },
                                    "EBSOptions": {
                                        "description": "Options to enable, disable and specify the type and size of EBS storage volumes. ",
                                        "properties": {
                                            "EBSEnabled": {
                                                "description": "Specifies whether EBS-based storage is enabled.",
                                                "type": "boolean"
                                            },
                                            "Iops": {
                                                "description": "Specifies the IOPD for a Provisioned IOPS EBS volume (SSD).",
                                                "type": "integer"
                                            },
                                            "VolumeSize": {
                                                "description": " Integer to specify the size of an EBS volume.",
                                                "type": "integer"
                                            },
                                            "VolumeType": {
                                                "description": " Specifies the volume type for EBS-based storage.",
                                                "enum": [
                                                    "standard",
                                                    "gp2",
                                                    "io1"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "ElasticsearchClusterConfig": {
                                        "description": "Configuration options for an Elasticsearch domain. Specifies the instance type and number of instances in the domain cluster. ",
                                        "properties": {
                                            "DedicatedMasterCount": {
                                                "description": "Total number of dedicated master nodes, active and on standby, for the cluster.",
                                                "type": "integer"
                                            },
                                            "DedicatedMasterEnabled": {
                                                "description": "A boolean value to indicate whether a dedicated master node is enabled. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-dedicatedmasternodes\" target=\"_blank\">About Dedicated Master Nodes</a> for more information.",
                                                "type": "boolean"
                                            },
                                            "DedicatedMasterType": {
                                                "description": "The instance type for a dedicated master node.",
                                                "enum": [
                                                    "m3.medium.elasticsearch",
                                                    "m3.large.elasticsearch",
                                                    "m3.xlarge.elasticsearch",
                                                    "m3.2xlarge.elasticsearch",
                                                    "m4.large.elasticsearch",
                                                    "m4.xlarge.elasticsearch",
                                                    "m4.2xlarge.elasticsearch",
                                                    "m4.4xlarge.elasticsearch",
                                                    "m4.10xlarge.elasticsearch",
                                                    "t2.micro.elasticsearch",
                                                    "t2.small.elasticsearch",
                                                    "t2.medium.elasticsearch",
                                                    "r3.large.elasticsearch",
                                                    "r3.xlarge.elasticsearch",
                                                    "r3.2xlarge.elasticsearch",
                                                    "r3.4xlarge.elasticsearch",
                                                    "r3.8xlarge.elasticsearch",
                                                    "i2.xlarge.elasticsearch",
                                                    "i2.2xlarge.elasticsearch",
                                                    "d2.xlarge.elasticsearch",
                                                    "d2.2xlarge.elasticsearch",
                                                    "d2.4xlarge.elasticsearch",
                                                    "d2.8xlarge.elasticsearch",
                                                    "c4.large.elasticsearch",
                                                    "c4.xlarge.elasticsearch",
                                                    "c4.2xlarge.elasticsearch",
                                                    "c4.4xlarge.elasticsearch",
                                                    "c4.8xlarge.elasticsearch",
                                                    "r4.large.elasticsearch",
                                                    "r4.xlarge.elasticsearch",
                                                    "r4.2xlarge.elasticsearch",
                                                    "r4.4xlarge.elasticsearch",
                                                    "r4.8xlarge.elasticsearch",
                                                    "r4.16xlarge.elasticsearch",
                                                    "i3.large.elasticsearch",
                                                    "i3.xlarge.elasticsearch",
                                                    "i3.2xlarge.elasticsearch",
                                                    "i3.4xlarge.elasticsearch",
                                                    "i3.8xlarge.elasticsearch",
                                                    "i3.16xlarge.elasticsearch"
                                                ],
                                                "type": "string"
                                            },
                                            "InstanceCount": {
                                                "description": "The number of instances in the specified domain cluster.",
                                                "type": "integer"
                                            },
                                            "InstanceType": {
                                                "description": "The instance type for an Elasticsearch cluster.",
                                                "enum": [
                                                    "m3.medium.elasticsearch",
                                                    "m3.large.elasticsearch",
                                                    "m3.xlarge.elasticsearch",
                                                    "m3.2xlarge.elasticsearch",
                                                    "m4.large.elasticsearch",
                                                    "m4.xlarge.elasticsearch",
                                                    "m4.2xlarge.elasticsearch",
                                                    "m4.4xlarge.elasticsearch",
                                                    "m4.10xlarge.elasticsearch",
                                                    "t2.micro.elasticsearch",
                                                    "t2.small.elasticsearch",
                                                    "t2.medium.elasticsearch",
                                                    "r3.large.elasticsearch",
                                                    "r3.xlarge.elasticsearch",
                                                    "r3.2xlarge.elasticsearch",
                                                    "r3.4xlarge.elasticsearch",
                                                    "r3.8xlarge.elasticsearch",
                                                    "i2.xlarge.elasticsearch",
                                                    "i2.2xlarge.elasticsearch",
                                                    "d2.xlarge.elasticsearch",
                                                    "d2.2xlarge.elasticsearch",
                                                    "d2.4xlarge.elasticsearch",
                                                    "d2.8xlarge.elasticsearch",
                                                    "c4.large.elasticsearch",
                                                    "c4.xlarge.elasticsearch",
                                                    "c4.2xlarge.elasticsearch",
                                                    "c4.4xlarge.elasticsearch",
                                                    "c4.8xlarge.elasticsearch",
                                                    "r4.large.elasticsearch",
                                                    "r4.xlarge.elasticsearch",
                                                    "r4.2xlarge.elasticsearch",
                                                    "r4.4xlarge.elasticsearch",
                                                    "r4.8xlarge.elasticsearch",
                                                    "r4.16xlarge.elasticsearch",
                                                    "i3.large.elasticsearch",
                                                    "i3.xlarge.elasticsearch",
                                                    "i3.2xlarge.elasticsearch",
                                                    "i3.4xlarge.elasticsearch",
                                                    "i3.8xlarge.elasticsearch",
                                                    "i3.16xlarge.elasticsearch"
                                                ],
                                                "type": "string"
                                            },
                                            "ZoneAwarenessConfig": {
                                                "description": "Specifies the zone awareness configuration for a domain when zone awareness is enabled.",
                                                "properties": {
                                                    "AvailabilityZoneCount": {
                                                        "description": "An integer value to indicate the number of availability zones for a domain when zone awareness is enabled. This should be equal to number of subnets if VPC endpoints is enabled",
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "ZoneAwarenessEnabled": {
                                                "description": "A boolean value to indicate whether zone awareness is enabled. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-zoneawareness\" target=\"_blank\">About Zone Awareness</a> for more information.",
                                                "type": "boolean"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "ElasticsearchVersion": {
                                        "description": "String of format X.Y to specify version for the Elasticsearch domain eg. \"1.5\" or \"2.3\". For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.",
                                        "type": "string"
                                    },
                                    "EncryptionAtRestOptions": {
                                        "description": "Specifies the Encryption At Rest Options.",
                                        "properties": {
                                            "Enabled": {
                                                "description": "Specifies the option to enable Encryption At Rest.",
                                                "type": "boolean"
                                            },
                                            "KmsKeyId": {
                                                "description": " Specifies the KMS Key ID for Encryption At Rest options.",
                                                "maxLength": 500,
                                                "minLength": 1,
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "LogPublishingOptions": {
                                        "description": "Map of <code>LogType</code> and <code>LogPublishingOption</code>, each containing options to publish a given type of Elasticsearch log.",
                                        "items": {
                                            "properties": {
                                                "key": {
                                                    "description": "Type of Log File, it can be one of the following: <ul> <li>INDEX_SLOW_LOGS: Index slow logs contain insert requests that took more time than configured index query log threshold to execute.</li> <li>SEARCH_SLOW_LOGS: Search slow logs contain search queries that took more time than configured search query log threshold to execute.</li> <li>ES_APPLICATION_LOGS: Elasticsearch application logs contain information about errors and warnings raised during the operation of the service and can be useful for troubleshooting.</li> </ul> ",
                                                    "enum": [
                                                        "INDEX_SLOW_LOGS",
                                                        "SEARCH_SLOW_LOGS",
                                                        "ES_APPLICATION_LOGS"
                                                    ],
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "description": "Log Publishing option that is set for given domain. <br/>Attributes and their details: <ul> <li>CloudWatchLogsLogGroupArn: ARN of the Cloudwatch log group to which log needs to be published.</li> <li>Enabled: Whether the log publishing for given log type is enabled or not</li> </ul> ",
                                                    "properties": {
                                                        "CloudWatchLogsLogGroupArn": {
                                                            "description": "ARN of the Cloudwatch log group to which log needs to be published.",
                                                            "type": "string"
                                                        },
                                                        "Enabled": {
                                                            "description": " Specifies whether given log publishing option is enabled or not.",
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "NodeToNodeEncryptionOptions": {
                                        "description": "Specifies the NodeToNodeEncryptionOptions.",
                                        "properties": {
                                            "Enabled": {
                                                "description": "Specify true to enable node-to-node encryption.",
                                                "type": "boolean"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "SnapshotOptions": {
                                        "description": "Option to set time, in UTC format, of the daily automated snapshot. Default value is 0 hours. ",
                                        "properties": {
                                            "AutomatedSnapshotStartHour": {
                                                "description": "Specifies the time, in UTC format, when the service takes a daily automated snapshot of the specified Elasticsearch domain. Default value is <code>0</code> hours.",
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "VPCOptions": {
                                        "description": "Options to specify the subnets and security groups for VPC endpoint. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html#es-creating-vpc\" target=\"_blank\">Creating a VPC</a> in <i>VPC Endpoints for Amazon Elasticsearch Service Domains</i>",
                                        "properties": {
                                            "SecurityGroupIds": {
                                                "description": "Specifies the security groups for VPC endpoint.",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "SubnetIds": {
                                                "description": "Specifies the subnets for VPC endpoint.",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "DomainName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/2015-01-01/es/domain-info": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Returns domain configuration information about the specified Elasticsearch domains, including the domain ID, domain endpoint, and domain ARN.",
                "operationId": "DescribeElasticsearchDomains",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The result of a <code>DescribeElasticsearchDomains</code> request. Contains the status of the specified domains or all domains owned by the account.",
                                    "properties": {
                                        "DomainStatusList": {
                                            "description": "The status of the domains requested in the <code>DescribeElasticsearchDomains</code> request.",
                                            "items": {
                                                "description": "The current status of an Elasticsearch domain.",
                                                "properties": {
                                                    "ARN": {
                                                        "description": "The Amazon resource name (ARN) of an Elasticsearch domain. See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html\" target=\"_blank\">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information.",
                                                        "type": "string"
                                                    },
                                                    "AccessPolicies": {
                                                        "description": " IAM access policy as a JSON-formatted string.",
                                                        "type": "string"
                                                    },
                                                    "AdvancedOptions": {
                                                        "description": "Specifies the status of the <code>AdvancedOptions</code>",
                                                        "items": {
                                                            "properties": {
                                                                "key": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "CognitoOptions": {
                                                        "description": "The <code>CognitoOptions</code> for the specified domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\" target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.",
                                                        "properties": {
                                                            "Enabled": {
                                                                "description": "Specifies the option to enable Cognito for Kibana authentication.",
                                                                "type": "boolean"
                                                            },
                                                            "IdentityPoolId": {
                                                                "description": "Specifies the Cognito identity pool ID for Kibana authentication.",
                                                                "maxLength": 55,
                                                                "minLength": 1,
                                                                "pattern": "[\\w-]+:[0-9a-f-]+",
                                                                "type": "string"
                                                            },
                                                            "RoleArn": {
                                                                "description": "Specifies the role ARN that provides Elasticsearch permissions for accessing Cognito resources.",
                                                                "maxLength": 2048,
                                                                "minLength": 20,
                                                                "type": "string"
                                                            },
                                                            "UserPoolId": {
                                                                "description": "Specifies the Cognito user pool ID for Kibana authentication.",
                                                                "maxLength": 55,
                                                                "minLength": 1,
                                                                "pattern": "[\\w-]+_[0-9a-zA-Z]+",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "Created": {
                                                        "description": "The domain creation status. <code>True</code> if the creation of an Elasticsearch domain is complete. <code>False</code> if domain creation is still in progress.",
                                                        "type": "boolean"
                                                    },
                                                    "Deleted": {
                                                        "description": "The domain deletion status. <code>True</code> if a delete request has been received for the domain but resource cleanup is still in progress. <code>False</code> if the domain has not been deleted. Once domain deletion is complete, the status of the domain is no longer returned.",
                                                        "type": "boolean"
                                                    },
                                                    "DomainId": {
                                                        "description": "The unique identifier for the specified Elasticsearch domain.",
                                                        "maxLength": 64,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "DomainName": {
                                                        "description": "The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).",
                                                        "maxLength": 28,
                                                        "minLength": 3,
                                                        "pattern": "[a-z][a-z0-9\\-]+",
                                                        "type": "string"
                                                    },
                                                    "EBSOptions": {
                                                        "description": "The <code>EBSOptions</code> for the specified domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs\" target=\"_blank\">Configuring EBS-based Storage</a> for more information.",
                                                        "properties": {
                                                            "EBSEnabled": {
                                                                "description": "Specifies whether EBS-based storage is enabled.",
                                                                "type": "boolean"
                                                            },
                                                            "Iops": {
                                                                "description": "Specifies the IOPD for a Provisioned IOPS EBS volume (SSD).",
                                                                "type": "integer"
                                                            },
                                                            "VolumeSize": {
                                                                "description": " Integer to specify the size of an EBS volume.",
                                                                "type": "integer"
                                                            },
                                                            "VolumeType": {
                                                                "description": " Specifies the volume type for EBS-based storage.",
                                                                "enum": [
                                                                    "standard",
                                                                    "gp2",
                                                                    "io1"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "ElasticsearchClusterConfig": {
                                                        "description": "The type and number of instances in the domain cluster.",
                                                        "properties": {
                                                            "DedicatedMasterCount": {
                                                                "description": "Total number of dedicated master nodes, active and on standby, for the cluster.",
                                                                "type": "integer"
                                                            },
                                                            "DedicatedMasterEnabled": {
                                                                "description": "A boolean value to indicate whether a dedicated master node is enabled. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-dedicatedmasternodes\" target=\"_blank\">About Dedicated Master Nodes</a> for more information.",
                                                                "type": "boolean"
                                                            },
                                                            "DedicatedMasterType": {
                                                                "description": "The instance type for a dedicated master node.",
                                                                "enum": [
                                                                    "m3.medium.elasticsearch",
                                                                    "m3.large.elasticsearch",
                                                                    "m3.xlarge.elasticsearch",
                                                                    "m3.2xlarge.elasticsearch",
                                                                    "m4.large.elasticsearch",
                                                                    "m4.xlarge.elasticsearch",
                                                                    "m4.2xlarge.elasticsearch",
                                                                    "m4.4xlarge.elasticsearch",
                                                                    "m4.10xlarge.elasticsearch",
                                                                    "t2.micro.elasticsearch",
                                                                    "t2.small.elasticsearch",
                                                                    "t2.medium.elasticsearch",
                                                                    "r3.large.elasticsearch",
                                                                    "r3.xlarge.elasticsearch",
                                                                    "r3.2xlarge.elasticsearch",
                                                                    "r3.4xlarge.elasticsearch",
                                                                    "r3.8xlarge.elasticsearch",
                                                                    "i2.xlarge.elasticsearch",
                                                                    "i2.2xlarge.elasticsearch",
                                                                    "d2.xlarge.elasticsearch",
                                                                    "d2.2xlarge.elasticsearch",
                                                                    "d2.4xlarge.elasticsearch",
                                                                    "d2.8xlarge.elasticsearch",
                                                                    "c4.large.elasticsearch",
                                                                    "c4.xlarge.elasticsearch",
                                                                    "c4.2xlarge.elasticsearch",
                                                                    "c4.4xlarge.elasticsearch",
                                                                    "c4.8xlarge.elasticsearch",
                                                                    "r4.large.elasticsearch",
                                                                    "r4.xlarge.elasticsearch",
[...]
